<nav class="rp-navbar">
  <div class="rp-navbar-inner">
    <a class="rp-brand" routerLink="/">
      <i class="fa-solid fa-wand-magic-sparkles rp-brand-icon"></i>
      <span class="rp-brand-text">Renovate Playground</span>
    </a>
    <div class="rp-nav-links">
      <a class="rp-nav-link" routerLink="/playground" routerLinkActive="active">
        <i class="fa-solid fa-flask"></i>
        Playground
      </a>
      <a class="rp-nav-link disabled" title="Coming soon">
        <i class="fa-solid fa-magnifying-glass"></i>
        Regex Debugger
      </a>
    </div>
  </div>
</nav>
